﻿
html,
body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: 100%;
  margin: 0 auto -50px 0;
  padding: 0 0 50px 0;
}

#body {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 50px;
  height: 100%;
  width: 100%;
}

.padtop10 {
  padding-top: 10px;
}

.padtop20 {
  padding-top: 20px;
}

.padtop30 {
  padding-top: 30px;
}

.padtop40 {
  padding-top: 40px;
}

.padtop50 {
  padding-top: 50px;
}

#navbar-container {
  width: 100%;
}

/* Set the fixed height of the footer here */
#footer {
  height: 50px;
  /*background-color: #f5f5f5;*/
  background-color: #ffd800;
}

#wrap > .center-container {
  padding: 50px 0 0 0;
  margin: 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.center-container {
  height: 100%;
}

.center-row {
  height: 100%;
  background-size: cover;
}
